.yellow {
  background-color: yellow;
}

.tomato {
  background-color: tomato;
}

.pink {
  background-color: pink;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}
